@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condesed" sans-serif;
}

:root {
  --primary-white: #fff;
  --primary-black: #2d2d2d;
  --primary-dark: rgba(255, 25, 255, 0);
}
/****** NavBar *****/

.logo {
  width: 11.5rem;
 height: 9.5rem;
}

/***** Menulinks *****/

nav .nav-link {
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 10rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
border-top: 0.1875rem solid var(--primary-black)

}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-black)
}

.navbar-toggler-icon:focus{
  border-top: 0.1875rem solid whitesmoke;
}





