@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

/*👇 resets*/
* {
  margin: 0;
  padding: 0;
}
html,
body,
#root,
.app {
  height: 100vh;
  min-height: 100%;
}

body {
  font-family: "Roboto Condesed", sans-serif;
  overflow-x: hidden; /*😃*/
}

/*Change the text-align for the <p> tag in version movil scrub the view*/

:root {
  --primary-white: #fff;
  --primary-black: #2d2d2d;
  --primary-blue: #182fff;
  --primary-dark: rgba(255, 25, 255, 0);
}
/****** NavBar *******/
nav {
  position: absolute;
  z-index: 2;
}

.bg-dark {
  background-color: /*#000000*/ rgb(46, 45, 45) !important;
}

.fullstack {
  margin: 10px;
}

/****** Menulinks *****/

nav .nav-link {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.navbar {
  padding: 35px 10px;
  position: fixed;
  width: 100%;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 16.25rem;
  padding: 0 !important;
  /* height: 8rem !important;  fullstack height  */
  font-weight: lighter;
  font-size: 2rem;
  font-family: "Train One", cursive;
  color: #e4e4e4 !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: solid var(--primary-blue);

  border-radius: 5px;
}

.navbar-nav > li > a:hover {
  border-top: 1.5px solid var(--primary-blue);
  border-radius: 1px;
  width: fit-content;
}

.navbar-toggler-icon:focus {
  border-top: 0.1875rem solid whitesmoke;
}

/* .btn-primary {
  background-color: #182fff;
  border: 0px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 7px;
  padding: 0rem !important;
  margin-right: 10px;
  margin-left: 10px;
} */

.btn-outline-primary {
  border-color: #182fff;
  padding: 6px 8px;
  margin-right: 5px;
  margin-left: 6px;
}

.btn-outline-primary:hover {
  background-color: #182fff;
  border-color: #182fff;
}

button .nav-link-button {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.2px;

  padding: 10px 4px;
  text-decoration: none;
}

button .nav-link-button:hover {
  color: #fff;
  border-color: #182fff;
}

.hireme {
  /* height: 100vh; */
  /* padding: 135px 15px 20px 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 13% 2% 8%;
}

.hireme-title {
  font-family: keys;
  font-size: 2.5rem;
  padding-bottom: 18px;
}

.p-hireme {
  padding: 5px 30px;
  font-size: calc(0.8rem + 0.5vw);
  /* text-align: ; */
}

/****** Header *******/

.header-wraper {
  position: relative;
  /* background: url(./images/bgfullstack.jpg); */
  background-size: 100% 100%;
  background-position: center;
  background-color: rgb(29, 28, 28);
  height: 35vh; /*previous value 80vh*/
  width: 100%;
}

.main-info {
  display: flex;
  position: absolute;
  top: 5;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px; /*previous value 0*/
  z-index: 1;
}

.main-info h1 {
  font-family: kap;
}

/****** Typed Header *******/

@font-face {
  font-family: keys;
  src: url("where_my_keys.otf");
}

@font-face {
  font-family: kap;
  src: url("ka1.ttf");
}

.typed-text {
  font-size: 3rem;
  font-family: keys;
  color: var(--primary-white);
}

/****** Header cv button *******/

.btn-main-cv {
  padding: 0rem 0rem 0rem 0rem;
  margin: 0.65rem 0rem 0rem;
  background-color: var(--primary-white);
}

.skills {
  color: #f8f9fa;
}

.downloadcv {
  color: var(--primary-white);
}

/****** PArticles js *******/

/* .tsparticles-canvas-el {
  position: absolute;
  height: 80vh;
  width: 100vw;
  z-index: 1;
} */

/****** About me  *******/

.about-me {
  background-color: rgb(233, 233, 233);
  border-top: 0.1rem solid; /*var(--primary-blue);*/
  padding: 20px 40px 20px 40px;
  /* height: 30rem; */
  width: 100%;
  display: flex;
  align-items: center;
}

.aboutme-title {
  /* background: black; */
  color: rgb(39, 38, 38);
  font-family: keys;
  border-radius: 5px;
  font-size: 2.5rem;
  /* width: 200px; */
  text-align: center;
  margin-top: 5px;
}

.media-body {
  padding-left: 3rem;
}

.image-me {
  margin-top: 10px;
  border-radius: 5%;
}

.p-me {
  font-size: calc(0.8rem + 0.5vw);
}

/****** timeline *******/

.timeline-body {
  background-color: rgb(46, 45, 45);
  font-size: 16px;
  color: rgb(49, 49, 49);
  width: 100%; /* Added */
}

.title {
  font-size: 2.5em; /*change from 7 to 5*/
  text-align: center;
  color: var(--primary-white);
  font-family: keys;
  padding: 30px 0px 20px 0px;

  text-emphasis-style: open;
}

h3 {
  padding: 0.22em 0em;
}

.vertical-timeline-element-content {
  padding: 2em 3em !important;
}

.date {
  color: rgb(
    224,
    230,
    233
  ); /* I can a put a lighter color and darker bg-color and at the media rule I the font appears blacker  */
}

#description {
  margin: 1.5em 0 2em 0;
}

a {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #dba470;
}

.workButton:hover {
  background-color: #eea663;
  color: white;
  text-decoration: none;
}

.schoolButton {
  background-color: #698ed1;
}

.schoolButton:hover {
  background-color: #404dc2;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(41, 41, 41);
    margin-top: 1em;
  }
}

/****** PROJECTS *******/

.wraper-projects {
  background-color: #f5f5f5;
}
.projects-1 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  border-radius: 3px;
}

.modal-content {
  margin: 0 10px;
}

.card-body {
  background-color: #e4e4e4;
}

.projects-title {
  text-align: center;
  color: rgb(39, 38, 38);
  font-family: keys;
  font-size: 2.5rem;
  padding-top: 30px;
}

.project-card {
  width: 20%;
}

/* Hire section to fit at any width and height device*/

@media only screen and (max-width: 988px) {
  .hireme-title {
    padding-top: 12px; /* added */
  }
}

@media only screen and (max-width: 860px) {
  .hireme-title {
    padding-top: 18px;
  }
}

@media only screen and (max-width: 652px) {
  .hireme-title {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 550px) {
  .hireme-title {
    padding-top: 40px;
    /* padding-bottom: 15px; */
  }
}

@media only screen and (max-width: 476px) {
  .hireme-title {
    padding-top: 70px;
    /* padding-bottom: 15px; */
  }
}

@media only screen and (max-width: 366px) {
  .hireme-title {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 335px) {
  .hireme-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 313px) {
  .hireme-title {
    padding-top: 110px;
    font-size: 1.8rem;
  }
}

/* @media only screen and (min-width: 1360px) {
  .hireme {
    padding: 10% 2% 8%;
  }
} */

@media only screen and (min-width: 700px) and (max-width: 780px) {
  .hireme {
    padding: 13% 2% 13%;
  }
}

@media only screen and (min-width: 1400px) {
  .p-hireme {
    width: 70%;
  }
}

@media only screen and (min-width: 661px) and (min-height: 1014px) {
  .hireme {
    height: 100vh;
    padding: 15% 2% 8%;
  }
}

/********************************************/
@media only screen and (max-width: 850px) {
  .navbar {
    padding: 30px 10px;
    width: 100%;
  }

  .navbar-nav {
    padding-top: 10px;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }
  .typed-text {
    font-size: 2.1rem;
  }

  .media-body {
    padding-left: 0rem;
  }

  .image-me {
    margin-right: 0rem !important;
  }

  .about-me {
    padding: 20px 15px 20px 15px; /**/
    justify-content: center;
  }

  .image-me.second {
    width: 250px;
    height: 230px;
  }

  .projects-1 {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 75%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 935px) {
  .media-comp {
    flex: auto;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 358px) {
  .about-me {
    padding: 20px 10px 20px 10px;
  }

  .p-me {
    padding: 0px 10px;
  }

  .title {
    font-size: 2rem;
  }

  .media-comp {
    width: 255px;
  }

  .more {
    font-size: 1.6rem !important;
  }

  .projects-title {
    font-size: 2rem;
  }

  .skills {
    font-size: 1.5rem !important;
  }
  .vertical-timeline-element-title {
    font-size: 1.3rem;
  }
  .vertical-timeline-element-subtitle {
    font-size: 1rem;
  }
  .navbar-brand {
    font-size: 1.3rem;
  }
}

/* @media only screen and (max-width: 280px) {
  .typed-text {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 320px) {
  .typed-text {
    font-size: 1.6rem;
  }
  .workButton,
  .schoolButton {
    font-size: x-small;
  }
}

/* @media only screen and (max-width: ) {
} */

.Footer {
  background-color: rgb(46, 45, 45);

  position: relative;
  bottom: 0px;
  width: -webkit-fill-available;
}

.mail,
.mobil {
  text-decoration: none !important;
}

.contact-info {
  text-align: center;
  align-items: center;
  color: var(--primary-white);
  font-weight: bold;
  font-size: 17px;
  height: 4rem;
}

@media only screen and (max-width: 660px) {
  .contact-info {
    font-size: 14px;
    height: auto;
    flex-direction: column-reverse;
  }

  .column-footer {
    padding: 10px 0px;
  }
}

.copyright {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-top: 0.4px solid whitesmoke;
  font-size: smaller;
  color: var(--primary-white);
  background-color: /*rgb(110, 107, 109)*/ rgb(51, 50, 50);
}

.copyr {
  margin-top: 5px;
}

.linkedinlogo,
.Githublogo {
  width: 40px;
  height: 40px;
}

.modal {
  font-size: 12px;
}

/**** Borrar???

.popup-content > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #888787;
    border-radius: 18px;
    border: 1px solid #cfcece;
  } */

/*
  .popup-content > .header {
    width: 100%;
    border-bottom: 1px solid rgb(241, 241, 241);
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
*/

/*
  .popup-content > .project-info {
  padding: 10px 5px;
  }
  */

/*
  
  º fix the width of p tag in the mobile version, 65% in normal screen, make a querie max-width 400px???? 

  ª add a padding r/l in about me section? in mobile version
  
  
  
  */
